// Place all the styles related to the meters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.title {
  font-family : Helvetica;
  text-align: center;
}

.controls_buttons {
  margin : 10px;
  text-align : center;
}

